.booking-main-row {
  background-color: $platinum;
  border-radius: 5px;
  padding: 0px;
}

.booking-container {
  hr {border: 1px solid $platinum}
  h2, h3 {font-family: $base-font;
  text-align: left;
  margin-top: 0px;}
  padding: 10px;
  h1 {font-family: $base-font;
    padding-bottom: 10px;}
}
.booking-container h3 {
  color: $payne-grey;
}
#host-header, #boat-header {
  color: $payne-grey;
  font-weight: bold;
}
.boat-info, .owner-info {
  .boat-description {}
}

.boat-description, .owner-description {
  li {
    list-style-type: none;
  }
  padding: 5px;
}

.booking-container p {
  font-weight: lighter;
}
.owner-info, .boat-info {
  color: white;
  background-color: $pastel-blue;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.booking-header {
  color: white;
  background-color: $sea-serpent;
  padding-top: 1px;
  border-radius: 4px;
}
.btn-book {
  background-color: $sea-serpent;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.boat-image img, .owner-image img {
  border-radius: 50%;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


