/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.search-bar {
  background-color: $platinum;
  padding: 10px 5px;
  color: $payne-grey;
  border-radius: 4px;
  width: 460px;
  margin: 220px auto 0 auto;

}

.search-bar label {
  margin: 0 10px 0 20px;
}

.search-bar .btn {
  margin: 0 10px;
  background-color: $sea-serpent;
  opacity: 1;
  color: white;
  border-radius: 4px;
}

.search-bar .btn:hover {
  opacity: 0.7;
}

.search-bar input {
  background-color: white;
  opacity: 0.6;
  color: $payne-grey;
  border: none;

}

.form-control {
background-color: white;
opacity: 0.6;
color: $payne-grey;
border: none;
}

.form-date-picker {
  padding: 10px 0;
}

.form-date-picker label {
  padding-bottom: 4px;
}

#boat_booking_check_in {
  border-radius: 4px;
  color: $payne-grey;
  text-align: left;
  margin-right: 2px;
  margin-bottom: 10px;

}

#boat_booking_check_out {
  border-radius: 4px;
  color: $payne-grey;
  text-align: left;
  margin-left: 2px;
  margin-bottom: 10px;
}

#boat-category {
  margin-left: 5px;
}

.form-line-two {
  padding-left: 14px;
}
