.space-top {
  margin: 25px 0;
}
.dash-body {
  padding: 0 12.5px;
  p {
    font-size: 14px;
  }
}
.panel {
  border: 1px solid #dce0e0;
  background-color: #fff;
  margin-bottom: 24px;
}
.dash-aside {
  padding: 0 12.5px;
}
#notification {
  padding: 10px 0 10px 25px;
  font-weight: bold;
}
.panel-header {
  background-color: #edefed;
  color: #484848;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}
.panel-body {
  // position: relative;
  padding: 20px;
  li {
    font-size:14px;
    margin-bottom: 5px;
  }
}
.space {
  margin-bottom: 24px;
}
.space-1 {
  margin-bottom: 18px;
  margin-top: 0;
}
.panel-image {
  position: relative;
}
.btn.btn-contrast.btn-block {
  position: absolute;
  bottom: 0;
}
.icon {
  margin-right: 5px;
}
.list-unstyled {
  list-style: none;
}
.btn {
  background-color: #c4c4c4;
}
.btn-contrast:hover, .btn-contrast:focus {
  border-color: #5a5a5a;
  background-color: #5a5a5a;
  color: #fff;
}
.btn:hover {
  text-decoration: none;
  color: white;
}
.btn-addlist {
  background-color: pink;
  color: white;
}
.btn-addlist:hover {
  opacity: 0.8;
}
.sidenav-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.sidenav-item {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
}
.pos-abs {
  position: absolute;
}
