<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-left">
    <a href="/" class="navbar-wagon-brand">
    <img src="https://cdn2.iconfinder.com/data/icons/large-svg-icons-part-3/512/anchor_gestureworks_basic-512.png" />
  </a>
  <!-- Search -->
  <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-anchor" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="#" class="navbar-wagon-item navbar-wagon-link">Become a Boat</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Sign Up</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Log In</a>

    <!-- Notification link-->
<!--     <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a>
 -->

    <!-- Profile picture and dropdown -->
<!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
 -->
    <!-- Button (call-to-action) -->

<!--     <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
 -->

  </div>

  <!-- Dropdown appearing on mobile only -->

<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->


</div>

