body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.all-content {
  flex: 1;
}
#footer-black {
  background-color: $payne-grey;
  padding: 30px 0;
}




#footer-black a {
  font-size: 25px;
  padding: 0 15px;
  color: $platinum;
  transition: 0.5s ease;
}
#footer-black ul {
  margin-bottom: 0;
}
#footer-black p {
  margin-top: 10;
  color: $platinum;
  font-size: 14px;
  margin-right: 30px;
}
#footer-black a:hover {
  opacity: 0.8;
}



