/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;

}

.navbar-wagon a {
  text-decoration: none;
  color: $payne-grey;
  padding-right: 15px;
}

.navbar-wagon a:hover {
  color: $sea-serpent;
}
/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
}
// Navbar left section
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $sunset-orange;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  position: relative;
  letter-spacing: 2px;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: $payne-grey;
  border: none;
  background: transparent;
  position: absolute;
  right: 18px;
  top: -2px;
  z-index: 1;
  margin-right: 10px;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  background-color: $platinum;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: $payne-grey;
  border: none;
  border-radius: 4px;
  padding: 0 20px 0 10px;
  font-size: 14px;
  outline: none;

}
.navbar-wagon-search-input:focus  {
  opacity: 0.8;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $payne-grey !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-wagon-brand:hover {
  opacity: 0.5;
}


