.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 4px;
  padding-left: 0;
}

.card-boat-name {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 26px


}
.card-boat-category {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: rgba(89,195,195,0.5);
  padding: 4px 6px;
}
.card-boat-price {
  position: absolute;
  bottom: 10px;
  right: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.card h1 {
 font-family: $base-font;
 font-weight: heavy;
 margin-bottom: 0;
}


.boat-card {
  padding-left: 0;
  margin-right: 5px;
}

.boat-card:hover {
  opacity: 0.8;
}
