<div class="container">
  <% @boats_by_city.in_groups_of(3, false).each do |group| %>
    <div class="row">
    <% group.each do |boat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h1><%= boat.name %></h1>
          <p><%= boat.category %></p>
          <p><%= boat.capacity %></p>
        </div>
      </div>
    <% end %>
    </div>

  <% end %>
</div>
